# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# Node (на случай если появится)
node_modules/
npm-debug.log*

# Build
dist/
build/
